body{
     background-color: black;
     color: white;
}
a{
      padding: 30px;
      text-decoration: none;
      color: white;
font-size: 20px;       
}
h1#portfolio{
             font-size: 45px;
               text-align: center;
               padding: 10PX;
}
p#intro{
    font-size: 25px;
    text-align: center;

}
h1#name{
  text-align: center;
  font-size: 40px;
}
a#resume ,#contact,#whatsapp,#instagram,#facebook,#about{
background-color: black;
}

#about{
    margin-left: 280px;
}
a:hover{
    color: blue;
}

#new{
    color: black;
    
}
#first{
    margin-left: 350px;
    margin-right: 70px;
    border-radius: 20px;
}
#second{
    padding-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
}
.photo{
    display: inline-block;
    width: 50%;
    height: 100px;
    
}
.text{
    display: inline-block;
    width: 49%;
}
#order{
    margin-left: 550px;
    font-size: 30px;
}
#page{
margin-left: 550px;
}